@use 'variables'

@mixin bg-section($img)
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.60)), url('../../img/#{$img}')
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed