@use 'variables'

@mixin bg-section($img)
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.60)), url('../../img/#{$img}')
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed

// @mixin smallScreens
//     @media (max-width: variables.$sm-screen)
//         @content

@mixin respond($breakpoint)
    @if $breakpoint == phone
        @media (max-width: 600px)
            @content
    @if $breakpoint == tab-port
        @media (max-width: 900px)
            @content
    @if $breakpoint == tab-land
        @media (max-width: 1200px)
            @content
    @if $breakpoint == big-desktop
        @media (min-width: 1800px)
            @content

