@use 'variables'
@use 'mixins'

*
    padding: 0
    margin: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    font-family: 'Sono', sans-serif

.navbar
    top: 0
    width: 100%
    position: fixed

    ul
        display: flex
        justify-content: space-around

        a
            width: 25%
            color: variables.$color-nav
            text-decoration: none
            background-color: variables.$bg-color-nav


            li
                list-style: none
                padding: 1rem 0
                text-align: center
                

            &:hover
                color: variables.$bg-color-nav
                background-color: variables.$color-nav
                transition: .5s ease-in-out

.section-group
    @include mixins.bg-section('bg-4.jpeg')

    section
        display: flex
        justify-content: center
        height: 100vh
        align-items: center

    .container
        width: 70%
        display: flex
        justify-content: center

        .row
            width: 100%
            display: flex
            align-items: center

        .col-6
            width: 45%

        .body-list
            background-color: variables.$bg-list
            width: 60%
            box-sizing: border-box
            padding: 2rem 3rem
            min-height: 35rem

            h2
                text-align: center
            
            .input-list
                width: 80%
                padding: 0.5rem
                margin: 1rem 0
                font-family: 'Sono', sans-serif
                height: 2.5rem

            .btn-list
                width: 15%
                height: 2.5rem
                margin-left: 1rem

            ul
                padding: 1rem

            .btnClearTask
                color: variables.$bg-color-nav
                background-color: variables.$color-nav
                padding: 0.5rem
                border: none
                cursor: pointer


    h1
        text-align: center
        color: variables.$primary-color




