* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sono", sans-serif;
}

.navbar {
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar ul a {
  width: 25%;
  color: #AFB2AF;
  text-decoration: none;
  background-color: #143627;
}
.navbar ul a li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
}
.navbar ul a:hover {
  color: #143627;
  background-color: #AFB2AF;
  transition: 0.5s ease-in-out;
}
.navbar ul a:active {
  color: #143627;
  background-color: #AFB2AF;
}

.section-group {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)), url("../../img/bg-4.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section-group #home h3 {
  margin-top: 1rem;
}
.section-group section {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.section-group .container {
  width: 70%;
  display: flex;
  justify-content: center;
}
@media (min-width: 112.5em) {
  .section-group .container {
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .section-group .container {
    width: 80%;
  }
}
@media (max-width: 75em) {
  .section-group .container {
    width: 60%;
  }
}
@media (max-width: 37.5em) {
  .section-group .container {
    width: 90%;
  }
}
.section-group .container .row {
  width: 100%;
}
.section-group .container .col-6 {
  width: 45%;
}
.section-group .container .body-list {
  min-height: 35rem;
}
.section-group .container .body-list, .section-group .container .content-about {
  width: 100%;
  background-color: #C8C9CE;
  box-sizing: border-box;
  padding: 2rem 3rem;
}
.section-group .container .body-list h2, .section-group .container .content-about h2 {
  text-align: center;
  width: 100%;
}
.section-group .container .body-list .input-list-one, .section-group .container .body-list .input-list-two, .section-group .container .content-about .input-list-one, .section-group .container .content-about .input-list-two {
  width: 80%;
  padding: 0.5rem;
  margin: 1rem 0;
  font-family: "Sono", sans-serif;
  height: 2.5rem;
}
@media (max-width: 75em) {
  .section-group .container .body-list .input-list-one, .section-group .container .body-list .input-list-two, .section-group .container .content-about .input-list-one, .section-group .container .content-about .input-list-two {
    width: 100%;
  }
}
.section-group .container .body-list .btn-list-one, .section-group .container .body-list .btn-list-two, .section-group .container .content-about .btn-list-one, .section-group .container .content-about .btn-list-two {
  width: 15%;
  height: 2.5rem;
  margin-left: 1rem;
}
@media (max-width: 75em) {
  .section-group .container .body-list .btn-list-one, .section-group .container .body-list .btn-list-two, .section-group .container .content-about .btn-list-one, .section-group .container .content-about .btn-list-two {
    width: 100%;
    margin-left: 0;
  }
}
.section-group .container .body-list ul, .section-group .container .content-about ul {
  padding: 1rem;
}
.section-group .container .body-list ul li, .section-group .container .content-about ul li {
  margin-bottom: 0.5rem;
}
.section-group .container .body-list .btnClearTaskOne, .section-group .container .body-list .btnClearTaskTwo, .section-group .container .content-about .btnClearTaskOne, .section-group .container .content-about .btnClearTaskTwo {
  color: #143627;
  background-color: #AFB2AF;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.section-group h3 {
  color: #143627;
  background-color: #fff;
  width: fit-content;
}
.section-group h1 {
  font-size: 2.5rem;
  color: #fff;
}

.section-about {
  margin: 1rem 0;
}
.section-about h3 {
  margin: 0.7rem 0;
}
.section-about a {
  color: #AFB2AF;
  background-color: #143627;
  text-decoration: none;
}
.section-about a:hover {
  color: #143627;
  background-color: #AFB2AF;
  font-weight: 600;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
